$bg-color: #fdf2ea;
$border: 1px solid #ccc;
.indekser {

    .indekser-body {
        
        .table-body {

            .table-item {
                border-bottom: $border;

                &:last-child {
                    border-bottom: none;
                }
            }

            div.row {
                cursor: pointer;
            }

            .col-6 {
                text-align: left;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;

                div {
                    vertical-align: bottom;
                    padding-right: 5px;
                    margin-bottom: 2px;
                }
            }
        }
    }
}